<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
    <link rel='shortcut icon' href='/public/images/favicon.ico'/>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
