<!DOCTYPE html>
<html>
  <head>
    <title>Nile {{title}}</title>
    <link rel='stylesheet' href='/static/css/bundle.css' />
    <link rel='shortcut icon' href='/static/images/favicon.ico' />
  </head>
  <body>
    <header>
      {{> header}}
    </header>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
  <script src='/static/js/bundle.js'></script>
</html>
