<section id='product_view'>
    <img src={{product.imageUrl}} />
    <div class='overview'>
        <div class='product_name'>{{product.name}}</div>
        <div class='product_price'>
            'Price: '<span class='price'>{{product.price}}</span>
        </div>
        <div class='product_description'>{{product.description}}</div>
    </div>
</section>