<section id='product_view'>
    <img src={{product.imageUrl}} />
    <div class='overview'>
        <div class='title'>
            <h1 class='name'>{{product.name}}</h1>
            <div class='price'>
                Price: <span>{{product.price}}</span>
            </div>
        </div>
        <div class='description'>{{product.description}}</div>
    </div>
</section>