<!DOCTYPE html>
<html>
    <head>
        <title>Nile Online Shopping</title>
    </head>
    <body>
        <h1>Nile Online Shopping</h1>
        <h2>We thought you might be interested in this product!</h2>
        <p>Check out the {{product.name}}!</p>
    </body>
</html>